<ion-toolbar color="primary">
  <ion-title style="text-align: center;">Sign-up</ion-title>
</ion-toolbar>

<ion-content padding>
<form [formGroup]= "tobeposted"  (ngSubmit)="Registor(tobeposted.value)">
  <mat-form-field>
  <mat-label>Role</mat-label>
   <mat-select formControlName="user_type">
   <mat-option value="Rider">User</mat-option>
 
   </mat-select>
   </mat-form-field>
    <br>

    <ion-card>
      <ion-item>

        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName= "email" ></ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName= "name"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Department</ion-label>
        <ion-input type="text" formControlName="department"></ion-input>
      </ion-item>
        
      
      <ion-item>
        <ion-label position="floating">Phone number</ion-label>
        <ion-input type="tel" formControlName="phone_no" ></ion-input>
      </ion-item>
      


      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"  minlength="6" formControlName="password"></ion-input>
      </ion-item>
      <small padding style="color:rgb(124, 124, 11)">Password must be at least 6 characters</small>

     

</ion-card>

 <ion-button fill="solid" expand="block" color="primary" type="submit"[disabled]="!tobeposted.valid" >Sign Up </ion-button>
 </form>

</ion-content>
